.root {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
  font-family: var(--font-mono);
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.05s linear;
  will-change: opacity, transform;
}

/* リンクやボタンだけクリック可能にする */
.root a,
.root button {
  pointer-events: auto;
}

@media (max-width: 768px) {
  .root {
    padding: 0 1.5rem;
  }
}
